<template>
  <div id="app">
    <Navbar />
    <SideNav />
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import SideNav from '@/components/SideNav.vue';
import '@/assets/main.css';

export default {
  name: 'home',
  components: {
    Navbar,
    SideNav
  }
}
</script>
