html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: url('background.jpg');
    background-size: contain;
    background-position: center; 
  }
  
  .navbar {
    background: #e31b21;
  }
  .navbar h1 {
    margin: 0;
  }

  .card-action {
    width: 100%;
  }
  
  #game > .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #game h2 {
    margin: 0;
  }
  
  #game-panel {
    width: 100%;
    min-width: 320px;
  }
  
  .streetview-container { 
    width: 100%;
    position: relative;
  }
  .streetview-container::after {
    content: '';
    display: block;
    height: 26px;
    width: 76px;
    background: transparent;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
  
  #streetview {
      height: 500px;
      width: 100%;
      min-width: 320px;
  }
  
  .play-btn {
    width: 150px;
  }
  .check-btn {
    width: 150px;
    margin-left: 20px; 
  }
  
  .new-card, .end-card, .page404-card {
    width: 55%;
    margin: 50px auto !important;
  }
  .postcard-card {
    margin-bottom: 50px !important;
  }

  .page404-card a {
    color: #036fa5;
  }
  .page404-card a:hover {
    text-decoration: underline;
  }
  .page404-card .card-title {
    background: rgba(0, 0, 0, 0.5)
  }
  
  .postcard-label {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.8em;
   }
  .result-label {
    font-size: 1.3em;
    margin-top: 5px;
  }
  .answer-label {
    font-size: 1.3em;
  }
  .level-label {
    font-size: 1.3em;
  }
  .city-label {
    text-transform: capitalize;
  }
  
  .scorecities-list {
    padding: 0;
    margin-left: 40px; 
  }
  
  .error {
    color: #f44336;
  }
  
  .authors-card, .rules-card {
    margin-top: 50px;
  }
  .brand-logo{
    font-family: 'Amatic SC', cursive;
    font-size: 4.1rem !important;
    margin-left: 10px;
  }  
  
  @media (max-width: 1600px) {
    .new-card, .end-card, .page404-card {
      width: 60%;
      margin: 50px auto !important;
    }
  }
  
  @media (max-width: 1200px) {
    #streetview {
      height: 400px;
    }
    .new-card, .end-card, .page404-card {
      width: 70%;
      margin: 50px auto !important;
    }
  }
  @media (max-width: 768px) {
    .check-btn {
      width: auto;
      margin-left: 10px; 
    }
    .new-card, .end-card, .page404-card {
      width: 95%;
      margin: 50px auto !important;
    }
    .card {
      display: flex !important;
      flex-direction: column !important;
    }
    .card .card-image {
      max-width: 100% !important;
    }
    #streetview {
      height: 300px;
    }
    .brand-logo {
      font-size: 2.8rem !important;
    }
  }