<template>
<main class="container">
  <div class="row">
    <div class="col s12 l12">
      <div class="card authors-card">
        <div class="card-content">
          <span class="card-title center-align">Autorzy biorący udział w&nbsp;projekcie</span>
        </div>
      </div>
    </div>
  </div>
        <div class="row">
            <div class="col s12 m4 14">
              <div class="card michal-card">
                <div class="card-content">
                  <span class="card-title">Michał Szachniewicz</span>
                  <p>Numer indeksu: 249810</p>
                </div>
              </div>
            </div>
              <div class="col s12 m4 14">
                <div class="card ania-card">
                  <div class="card-content">
                    <span class="card-title">Anna Klimiuk</span>
                    <p>Numer indeksu: 249807</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 14">
                  <div class="card ola-card">
                    <div class="card-content">
                      <span class="card-title">Aleksandra Kobiela</span>
                      <p>Numer indeksu: 249775</p>
                    </div>
                  </div>
                </div>
        </div>
    </main>
</template>
