<template>
<main class="container">
    <div class="card page404-card">
        <div class="card-image">
            <img src="@/assets/404.jpg" alt="podróżniczka z plecakiem">
            <span class="card-title">Błąd 404</span>
        </div>
        <div class="card-content">
            <p>Chyba się zgubiłeś młody podróżniku, wróć na <router-link to="/">stronę główną</router-link>&hellip;</p>
        </div>
    </div>
</main>
</template>
