<template>
  <main class="container">
      <div class="row">
        <div class="col s12">
            <div class="card rules-card">
                <div class="card-content">
                    <span class="card-title center-align">Zasady gry w „Free traveler” </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p>Witaj podróżniku! Przed Tobą tajemna podróż po zakątkach naszego świata. 
                        Aby rozpocząć grę wciśnij przycisk GRAJ na Stronie Głównej.
                        Gra składa się z dziewięciu poziomów. Na każdym z nich zobaczysz pewne
                        miejsce. Twoim zadaniem jest określenie gdzie się znajdujesz. Możesz poruszać
                        się myszką po ekranie (a w przypadku urządzeń mobilnych wystarczy pochylić ekran),
                        jeśli potrzebujesz się „głębiej” rozejrzeć. Wpisz miasto, w którym jak myślisz jesteś,
                        i zrób zdjęcie ciekawej dla Ciebie pozycji. Potem naciśnij SPRAWDŹ.
                        Jeżeli dobrze określisz miasto - gratulacje - Twoje zdjęcie zostanie dodane do pocztówki.
                        Jeśli Ci się nie udało - nie przejmuj się - następnym razem będzie lepiej. 
                        Po ukończeniu gry wyświetli Ci się Twoja zdobyta pocztówka.</p>
                </div>
            </div>
        </div>
    </div>
  </main>
</template>
