<template>
    <main class="container" id="game">
        <div v-if="state == 'NEW'" class="card new-card">
            <div class="card-content">
                <h2>
                    <span class="card-title">Nowa gra</span>
                </h2>
                <p>Zacznij, jeśli się odważysz. W przeciwnym razie w internecie jest jeszcze wiele innych, mniej ryzykownych gier. Powodzenia podróżniku!</p>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light play-btn" @click="changeState('GAME')">graj</button>
            </div>
        </div>

        <div v-if="state == 'GAME'" class="card">
            <div class="card-image streetview-container">
                <div id="streetview"></div>
                <a class="btn-floating halfway-fab waves-effect waves-light" :class="photoBtnState" @click="takePhoto"><i class="material-icons">camera_alt</i></a>
            </div>
            <div class="card-content" id="game-panel">
                <form @submit.prevent="handleSubmit">
                    <h2 class="level-label">Poziom {{ level }}/9</h2>
                    <input v-model="answer" type="text" placeholder="miasto" class="answer-input">
                    <button class="btn waves-effect waves-light right check-btn" :class="{ disabled: isDisabled }" type="submit">sprawdź</button>
                    <button class="btn waves-effect waves-light right teal lighten-3" @click="changeState('NEW')">Nowa gra</button>
                </form>
                <p class="result-label" :class="{ error: hasError }" v-if="resultLabel">{{ resultLabel }}</p>
            </div>
        </div>
        
        <div v-if="state == 'GAME'" class="card horizontal postcard-card">
            <div class="card-image">
                <img v-if="postcard" :src="postcard" alt="automatycznie generowana pocztówka">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="postcard-label">Aktualna pocztówka</h2>
                    <ol class="scorecities-list">
                        <li v-for="place in scoreCities" :key="place.id">
                        {{ place.name }} (<span class="city-label">{{ place.city }}</span>)
                        </li>
                    </ol>
                    <p v-if="scoreCities.length == 0">Brak miejsc do wyświetlenia.</p>
                </div>
            </div>
        </div>

        <div v-if="state == 'END'" class="card end-card">
            <div class="card-image">
                <img :src="postcard" alt="automatycznie generowana pocztówka" >
            </div>
            <div class="card-content">
                <span class="card-title">Koniec gry. Twój wynik to {{ score }}/9.</span>
                <p>Zadanie zostało wykonane. Efektem jest ta oto pocztówka. Idealnie będzie wyglądać powieszona nad kominkiem. Gratuluję!</p>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light play-btn" @click="changeState('GAME')">Jeszcze raz</button>
            </div>
        </div>
    </main>
</template>

<script>
const API_KEY = 'AIzaSyDGTlWYBPjgphrVIj9Mjb_LjJlLx2K2Bds';
const BASE_URL = 'http://127.0.0.1:5000';
// const BASE_URL = window.origin;
GoogleMapsLoader.KEY = API_KEY;
import axios from 'axios';
import GoogleMapsLoader from 'google-maps';
const bckg = require("@/assets/background.jpg")
export default {
  name: 'Game',
  data() {
      return {
        answer: '',
        placeID: null,
        resultLabel: null,
        isDisabled: false,
        panorama: null,
        level: 0,
        actualPhoto: null,
        photoUrls: [],
        postcard: null,
        score: 0,
        scoreCities: [],
        usedCities: [],
        state: 'NEW', // NEW, GAME, END
        hasError: false
      }
    },
    computed: {
        photoBtnState: function() {
            return {
                "red pulse": !this.actualPhoto,
                "light-green darken-1": this.actualPhoto
            }
        }
    },
    methods: {
        changeState(state) {
            this.state = state;
            switch(state) {
                case 'NEW':
                    document.body.style.background = `url(${bckg})`;
                    document.body.style.backgroundSize = 'contain';
                    document.body.style.backgroundPosition = 'center';
                    localStorage.removeItem('freeTravSave');
                break;
                case 'GAME':
                    this.newGame();
                    this.updateLevel();
                    document.body.style.background = 'white';
                break;
                case 'END':
                    document.body.style.background = 'white';
                break;
            }
        },
        saveData() {
            let data = {
                placeID: this.placeID,
                level: this.level,
                actualPhoto: this.actualPhoto,
                photoUrls: this.photoUrls,
                postcard: this.postcard,
                score: this.score,
                scoreCities: this.scoreCities,
                usedCities: this.usedCities,
                state: this.state
            };
            if (!this.isDisabled) {
                localStorage.setItem('freeTravSave', JSON.stringify(data));
            }
        },
        loadSavedData() {
            let data = JSON.parse(localStorage.getItem('freeTravSave'));
            for (let key in data) {
                this[key] = data[key];
            }
            if (this.state === 'END' || this.state === 'GAME') {
                document.body.style.background = 'white';
            }
            if (this.state === 'GAME') {
                this.loadStreetView();
            }
            
        },
        loadStreetView() {
            if (this.placeID === null) {
                axios.post(`${BASE_URL}/api/places`, { usedCities: this.usedCities }).then(({ data: place }) => {
                    this.loadGoogleMap(place)
                    this.saveData();
                }).catch(err => { console.log(err) })
            } else {
                axios.get(`${BASE_URL}/api/places/${this.placeID}`).then(({ data: place }) => {
                    this.loadGoogleMap(place);
                    this.saveData();
                }).catch(err => { console.log(err) })
            }
            

        },
        loadGoogleMap(place) {
            let { lat, lng, heading, id } = place;
            this.placeID = id;
            this.usedCities.push(this.placeID);
            let options = {
                position: { lat, lng },
                pov: { heading, pitch: 10 },
                disableDefaultUI: true
            }
            if (!this.panorama) {
                GoogleMapsLoader.load(google => {
                    this.panorama = new google.maps.StreetViewPanorama(document.getElementById('streetview'), options);
                });
            } else {
                this.panorama.setOptions(options);
            }
        },
        updateLevel() {
            this.resultLabel = null;
            this.answer = '';
            this.isDisabled = false;
            this.actualPhoto = null;
            this.placeID = null;
            this.level += 1;
            if (this.level > 9) {
                this.panorama = null;
                this.changeState('END');
            }            
            if (this.state === 'GAME') {
                this.loadStreetView()
            }
        },
        handleSubmit() {
            if (!this.actualPhoto) {
                this.resultLabel = 'Zrób zdjęcie!'
                this.hasError = true;
            } 
            if (!this.answer) {
                this.resultLabel = 'Podaj odpowiedź!'
                this.hasError = true;
            }
            if (this.answer && this.actualPhoto) {
                this.hasError = false;
                this.onSubmit();
            }
        },
        onSubmit() {
            const path = `${BASE_URL}/api/maps`;
            let payload = { answer: this.answer, placeID: this.placeID };
            this.isDisabled = true;
            axios.post(path, payload).then(({ data }) => {
                let answer = data.result;
                if (answer.isCorrect) {
                    this.resultLabel = `Dobrze! Obiekt w pobliżu to ${answer.name}.`;
                    this.score += 1;
                    this.scoreCities.push({ ...answer });
                    if (this.actualPhoto) {
                        this.photoUrls.push(this.actualPhoto);
                    }
                } else {
                    this.resultLabel = `Niestety nie :(`;
                }
                this.getPostcard()
                setTimeout(this.updateLevel, 3000)
            }).catch(err => console.log(err))
            
        },
        takePhoto() {
            let pos = this.panorama.getPosition();
            let pov = this.panorama.getPov();
            this.actualPhoto = `https://maps.googleapis.com/maps/api/streetview?size=640x400&location=${pos.lat()},${pos.lng()}&heading=${pov.heading}&pitch=${pov.pitch}&key=${API_KEY}`;
        },
        getPostcard() {
            let payload = this.photoUrls;
            const path = `${BASE_URL}/api/postcard`;
            axios.post(path, payload).then(({ data }) => {
                this.postcard = data.result;
            }).catch(err => console.log(err))
        },
        newGame() {
            localStorage.removeItem('freeTravSave');
            this.photoUrls = [];
            this.scoreCities = [];
            this.usedCities = [];
            this.score = 0;
            this.level = 0;
            this.postcard = null;
            this.panorama = null;
            this.getPostcard();
        }
    },
    destroyed() {
        document.body.style.background = `url(${bckg})`;
        document.body.style.backgroundSize = 'contain';
        document.body.style.backgroundPosition = 'center';
    },
    beforeDestroy() {
        this.panorama = null;
        this.saveData();
    },
    created() {
        window.addEventListener('beforeunload', this.saveData)  
        this.loadSavedData();
    }
}
</script>