<template>
    <nav class="navbar">
        <div class="nav-wrapper">
        <h1><router-link to="/" class="brand-logo">Free Traveler</router-link></h1>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <router-link tag='li' to="/instrukcja"><a>Instrukcja</a></router-link>
            <router-link tag='li' to="/autorzy"><a>O autorach</a></router-link>
        </ul>
        </div>
    </nav>
</template>

