<template>
    <ul class="sidenav" id="mobile-demo">
        <router-link tag='li' to="/"><a>Strona główna</a></router-link>
        <router-link tag='li' to="/instrukcja"><a>Instrukcja</a></router-link>
        <router-link tag='li' to="/autorzy"><a>O autorach</a></router-link>
    </ul>
</template>
